# Dependencies and AdonisJS build
node_modules
build
tmp/*
!tmp/.gitkeep

# AdonisJS generated
.adonisjs

# Secrets
.env
.env.local
.env.production.local
.env.development.local
!.env.example

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Coverage (tests)
coverage

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Logs
*.log

#instructions
instructions.md